[submodule "trafic-simulator-project/trafic-simulator-project/git-quick-stats"]
	path = trafic-simulator-project/trafic-simulator-project/git-quick-stats
	url = https://github.com/aksharanigam1112/IIT-K
